
.firstsector, .secondsector{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center; 
    box-shadow: 0px 0px 10px black;
}
.firstsector{
    flex-wrap: wrap;
    justify-content: start;
}
.secondsector{
    flex-wrap: wrap-reverse;
    justify-content: end;
}
.image1, .image2, .image3, .image4, .image5, .image6{
    width: 35%;
}
img{
    width: 100%;
    border-radius: 15px;
    border: 2px solid black;
    justify-content: center;
}

.para1, .para2, .para3, .para4, .para5, .para6 {
    /* flex: 350px 1; */
    margin: 0;
    padding: 4%;
    width: 40%;
    min-height: 30vh;
    font-size: x-large;
}

#Tiger{
    background-image: url(tiger_bg.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para1{
    color: white;
}

#Elephant{
    background-image: url(Elephant_bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para2{
    color: black;
}

#Lion{
    background-image: url(Lion_bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para3{
    color: white;
}

#Raccon{
    background-image: url(Raccon_bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para4{
    color: black;
}

#Deer{
    background-image: url(Deer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para5{
    color: white;
}

#Bear{
    background-image: url(Bear.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local
}
.para6{
    color: white;
}
